<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xonic">

    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon_xonic_wallet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_xonic_wallet_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".AddPhone"></activity>
        <activity android:name=".SetPassword" />

        <activity android:name="com.xonic.wallet.fragment_password" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrivateAndSucure"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImportMnemonic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImportPrivateKey"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImportPrivateMnemonic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImportInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddUseName"
            android:screenOrientation="portrait" />
    </application>

</manifest>